  @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Vina+Sans&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto&family=Vina+Sans&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color:white;
}

html, body{
    min-height:100vh; /*Altura mínima da página, necessário pra poder modificar tudo corretamente.*/
    background-color:black;
}

body{
    display: flex;
    align-items: center;
}

main {
    width:100%;
    padding:3rem;
}

.container{
    width:100%;
    text-align:center;
}

.container h1{
    font-size:4rem;
    font-weight:normal;
    letter-spacing:0.1rem;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:0;
    margin: 1.8rem 0;
}
ul li{
    width: 180px;
    margin: 15px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
}

a{
    text-decoration: none;
}

.profile{
    width:100%;
    border-radius:15px;
}

.profile img, .profile i{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 7px;
    border:transparent solid 5px;
}

.profile i{
    font-size: 6rem;
    color: gray;
}

span{
    font-size:20px;
    color:gray;
}

.profile:hover img, .profile:hover i{
    background-color:white;
    border:white solid 5px;
}

.profile:hover span{
    color:white;
}

button{
    color:gray;
    padding:10px 20px;
    background-color:black;
    border:gray solid 1px;
    font-size:24px;
    border-radius:5px;
    cursor:pointer;
}
button:hover{
    color:white;
    border:white solid 1px;
    border-radius:5px;
}
@media (max-width:808px){
    .container h1{
        font-size: 3rem;
    }
}
@media (max-width: 533px){
    main, html, ul li{
        margin: 0rem;
        padding: 0rem;

    }
}